In [16]:
import re
import pandas as pd
import tweepy
import matplotlib.pyplot as plt
from textblob import TextBlob
from wordcloud import WordCloud
import seaborn as sns
from twitter import *
import datetime as dt

In [17]:
Api_key="FgHVpYCiHuSHUco1zW0fce7M5"
Api_key_secret="nsZG7UlYZ1nSiR9tnbjwX8PV7F2RhMgMi95SCdtJWJAeGICYI9"
Access_token="1577292145253404678-bRVuwjeAIsNuCRLqECTGXwcoGp8cHT"
Access_token_secret="gaMToLWk1sFggkZMf3MeebusrPFwCKc00Y296KxGAF6EN"

In [18]:
authenticate=tweepy.OAuthHandler(Api_key,Api_key_secret)
authenticate.set_access_token(Access_token,Access_token_secret)
api=tweepy.API(authenticate,wait_on_rate_limit=True,)
# api = tweepy.API(auth, wait_on_rate_limit=True,
#     wait_on_rate_limit_notify=True)

In [19]:
#"Elon Musk","AAPL","MSFT","GOOGL","google","GOOGLE","amazon","AMZN","AMZON"

In [20]:
tweets=tweepy.Cursor(api.search_tweets, q=["TSLA","TESLA","tesla"],count=100,lang ="en",since_id=dt.datetime(2022,10,10),tweet_mode="extended").items(200)
# tweets2=tweepy.Cursor(api.search_tweets, q=["TSLA","TESLA","tesla"],count=100,lang ="en",since_id="2022-10-04",until="2022:10:07",tweet_mode="extended").items(500)
# for i in tweets1:
#     print(i)
#tweets3=tweepy.Cursor(api.search_tweets, q=["TSLA"],count=50,lang ="en",since_id="2022-10-9",until="2022-10-11",tweet_mode="extended").items(500

In [21]:
df=pd.DataFrame([[tweet.created_at.date(),tweet.full_text] for tweet in tweets],columns=['Date','Tweets'])

In [22]:
df.head()

         Date                                             Tweets
0  2022-10-12  RT @GerberKawasaki: Tesla puts up big sales nu...
1  2022-10-12  RT @CheddarFlow: Story Time.\n\nOn Sep 21st, a...
2  2022-10-12  RT @CheddarFlow: Story Time.\n\nOn Sep 21st, a...
3  2022-10-12  @elonmusk 30 days ago $TSLA stood at $303. Now...
4  2022-10-12  RT @CheddarFlow: Story Time.\n\nOn Sep 21st, a...

In [23]:
#clean
def cleanText(text):
    text=re.sub(r'#','',text)
    text=re.sub(r'_','',text)
    text=re.sub(r':','',text)
    text=re.sub(r'_','',text)
    text=re.sub(r'\n','',text)
    text=re.sub(r'RT[\s]+','',text)
    text=re.sub(r'https?:\/\/\S+','',text)
    text=re.sub(r'https?:\/\/\S+','',text)
    text=re.sub(r'@[A-Za-z0-9]+','',text)
    return text

In [24]:
df['Tweets']=df['Tweets'].apply(cleanText)

In [25]:
df.head()

         Date                                             Tweets
0  2022-10-12   Tesla puts up big sales numbers in China for ...
1  2022-10-12   Story Time.On Sep 21st, a whale bought $9.1M ...
2  2022-10-12   Story Time.On Sep 21st, a whale bought $9.1M ...
3  2022-10-12   30 days ago $TSLA stood at $303. Now, its 30%...
4  2022-10-12   Story Time.On Sep 21st, a whale bought $9.1M ...

In [26]:
df.Tweets

0       Tesla puts up big sales numbers in China for ...
1       Story Time.On Sep 21st, a whale bought $9.1M ...
2       Story Time.On Sep 21st, a whale bought $9.1M ...
3       30 days ago $TSLA stood at $303. Now, its 30%...
4       Story Time.On Sep 21st, a whale bought $9.1M ...
                             ...
195    A Tesla Semi electric truck was spotted seemin...
196     Tesla Catches Fire In Stamford Parking Lot FD...
197    Elon Musk went from speaking out against Joe B...
198     Tesla puts up big sales numbers in China for ...
199     Wife and Grandpa rode along with me testing t...
Name: Tweets, Length: 200, dtype: object

In [27]:
df.index.dtype

dtype('int64')

In [29]:
df.head()

,Date,Tweets,Polarity,Subjectivity,Analysis
0,2022-10-12,Tesla puts up big sales numbers in China for ...,0.000000,0.100000,Neutral
1,2022-10-12,"Story Time.On Sep 21st, a whale bought $9.1M ...",0.208667,0.311333,Positive
2,2022-10-12,"Story Time.On Sep 21st, a whale bought $9.1M ...",0.208667,0.311333,Positive
3,2022-10-12,"30 days ago $TSLA stood at $303. Now, its 30%...",-0.166667,0.066667,Negative
4,2022-10-12,"Story Time.On Sep 21st, a whale bought $9.1M ...",0.208667,0.311333,Positive

TEXTBLOB

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          200 non-null    object
 1   Tweets        200 non-null    object
 2   Polarity      200 non-null    float64
 3   Subjectivity  200 non-null    float64
 4   Analysis      200 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.9+ KB

In [28]:
polarity = lambda x: TextBlob(x).sentiment.polarity
subjecticity = lambda x: TextBlob(x).sentiment.subjectivity
def analysis(score):
            if score < 0:
                return 'Negative'
            elif score == 0:
                return 'Neutral'
            else:
                return 'Positive'
df['Polarity'] = df['Tweets'].apply(polarity)
df['Subjectivity'] = df['Tweets'].apply(subjecticity)
df['Analysis'] = df['Polarity'].apply(analysis)
df.head()

,Date,Tweets,Polarity,Subjectivity,Analysis
0,2022-10-12,Tesla puts up big sales numbers in China for ...,0.000000,0.100000,Neutral
1,2022-10-12,"Story Time.On Sep 21st, a whale bought $9.1M ...",0.208667,0.311333,Positive
2,2022-10-12,"Story Time.On Sep 21st, a whale bought $9.1M ...",0.208667,0.311333,Positive
3,2022-10-12,"30 days ago $TSLA stood at $303. Now, its 30%...",-0.166667,0.066667,Negative
4,2022-10-12,"Story Time.On Sep 21st, a whale bought $9.1M ...",0.208667,0.311333,Positive

In [ ]:
allwords=''.join([twts for twts in df['Tweets']])
wordCloud=WordCloud(width=500,height=300,random_state=21,max_font_size=100).generate(allwords)
plt.imshow(wordCloud,interpolation="bilinear")
plt.axis('off')
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
for i in range(0,df.shape[0]):
    plt.scatter(df["Polarity"][i],df["Subjectivity"][i],color='red')
plt.title("Sentiment Analysis")
plt.xlabel("Polarity")
plt.ylabel("Subjectivity")

In [ ]:
df.shape

In [ ]:
ptweets=df[df.Analysis=='Positive']
ptweets=ptweets['Tweets']
round((ptweets.shape[0]/df.shape[0])*100,1)

In [ ]:
ntweets=df[df.Analysis=='Negative']
ntweets=ntweets['Tweets']
round((ntweets.shape[0]/df.shape[0])*100,1)

In [ ]:
nutweets=df[df.Analysis=='Neutral']
nutweets=nutweets['Tweets']
round((nutweets.shape[0]/df.shape[0])*100,1)

In [ ]:

plt.title("Sentiment Analysis")
plt.xlabel("Sentiment")
plt.ylabel("Counts")
df['Analysis'].value_counts().plot(kind='bar')
plt.show()

VADER

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [ ]:
df

In [ ]:
# analyzer = SentimentIntensityAnalyzer()
# df['compound'] = [analyzer.polarity_scores(x)['compound'] for x in df['Tweets']]
# df['neg'] = [analyzer.polarity_scores(x)['neg'] for x in df['Tweets']]
# df['neu'] = [analyzer.polarity_scores(x)['neu'] for x in df['Tweets']]
# df['pos'] = [analyzer.polarity_scores(x)['pos'] for x in df['Tweets']]

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sent_i = SentimentIntensityAnalyzer()

def vadar_sentiment(text):
    """ Calculate and return the nltk vadar (lexicon method) sentiment """
    return sent_i.polarity_scores(text)['compound']

# create new column for vadar compound sentiment score
df['Vader compound'] = df['Tweets'].apply(vadar_sentiment)

def categorise_sentiment(sentiment, neg_threshold=-0.05, pos_threshold=0.05):
    """ categorise the sentiment value as positive (1), negative (-1) 
        or neutral (0) based on given thresholds """
    if sentiment < neg_threshold:
        label = 'negative'
    elif sentiment > pos_threshold:
        label = 'positive'
    else:
        label = 'neutral'
    return label

# new col with vadar sentiment label based on vadar compound score
df['Vader sentiments']=  df['Vader compound'].apply(categorise_sentiment)

# plot distribution of article sentiments for each newspaper

In [ ]:
df

In [ ]:

plt.title("Sentiment Analysis")
plt.xlabel("Sentiment")
plt.ylabel("Counts")
df['Vader sentiments'].value_counts().plot(kind='bar')
plt.show()

# Yfinance

In [ ]:
import datetime as dt
from pandas_datareader import data as pdr

In [ ]:
end=dt.datetime.now()
start=dt.datetime(2022,10,1)
start,end

In [ ]:
stocks=['TSLA','MSFT','COKE','AMZN']

In [ ]:
df=pdr.get_data_yahoo(stocks,start,end)
df.head()

In [ ]:
df.shape

In [ ]:
close=df.Close
close.head()

In [ ]:
close.describe()

In [ ]:
close[close.index > end - dt.timedelta(days=100)].describe() # last 100 days

In [ ]:
close.plot()